.page {
  background: linear-gradient(to bottom, #6fb051 0%, #51abb0 100%);
  width: 20%;
  border: solid black;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.App {
  background: whitesmoke;
  border-radius: 20px;
  padding: 10px;
}
.logo {
  border-radius: 50%;
}
.button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}
.button-name {
  text-align: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.content-value {
  max-width: 104px;
}
.facility {
  display: grid;
  place-items: center;
  gap: 10px;
  margin: 10px;
}
.facility-info {
  text-align: center;
  width: 176px;
  font-size: small;
}
.get {
  text-align: center;
  background-color: green;
  border-radius: 20px;
  color: white;
  line-height: 2em;
}
.more {
  text-align: right;
  font-weight: bold;
  line-height: 2em;
}
.but {
  width: 100%;
  height: 28px;
}
